
@{
    ViewBag.Title = "ContactSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Thank you for contact us.</h2>
    <h5>@ViewBag.ContactResult</h5>
    <p>@ViewBag.logFail</p>
</div>

