@{
    ViewBag.Title = "Welcome";
}
<section id="indexBody">
    <!-- parallax baground-->
    <div class="background-parallax">
        <div class="container headerBox">
            <h1 id="company-name" class="headerText">
                J-Cash Machine(Thailand)<br />
                <span class="subHeaderText">A Global Solutions by JCM</span>
            </h1>
        </div>
    </div>
    <!--################-->
    <div class="container-fluid text-center bg-jcm-blue">
        <!-- Compary Introduction Section -->
        <section id="introduce">
            <div class="container-fluid text-white">
                <h1 class="font-smoothing" style="font-weight:bold">Who We Are?</h1>
                <p class="p-15 p-3">
                    JCMThailand provides a wide range of products to meet the needs of every customer.
                    From initial design to final quality assurance processes, we make sure our goods are reliable and exceptional.
                    We’re proud to be one of the best-known names in the industry. Get in touch to see how you can benefit from our products.
                </p>
            </div>
        </section>

        <!-- Briefly Main Features -->
        <div class="container-fluid pb-5">
            <div class="row p-0 m-0">
                <div class="col-md-4 w-100">
                    <div class="card border-0 h-100">
                        <img class="card-img" src="~/Images/bg.jpg" />
                        <div class="card-body">
                            <h3 class="card-title color-jcm-blue mb-3">Career</h3>
                            <h5 class="card-subtitle mb-3">subtitle</h5>
                            <p class="card-text">You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 h-100">
                        <img class="card-img" src="~/Images/bg.jpg" />
                        <div class="card-body">
                            <h3 class="card-title color-jcm-blue mb-3">Career</h3>
                            <h5 class="card-subtitle mb-3">subtitle</h5>
                            <p class="card-text">You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 h-100">
                        <img class="card-img" src="~/Images/bg.jpg" />
                        <div class="card-body">
                            <h3 class="card-title color-jcm-blue mb-3">Career</h3>
                            <h5 class="card-subtitle mb-3">subtitle</h5>
                            <p class="card-text">You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact -->
    <section id="contact">
        <div class="container-fluid p-md-5">
            <div class="row  p-0 m-0 bg-jcm-contact">
                <div class="col-md-6 pt-3 border">
                    <div class="card text-center border-0 bg-jcm-contact">
                        <h3 class="card-title color-jcm-blue p-3">Contact Us</h3>
                        <h5 class="card-subtitle pb-3">J-Cash Machine (Thailand) Co.,Ltd.</h5>
                        <p>
                            42 Tower, Room701, 7th Floor,<br />
                            65 Soi Sukhumvit 42 (Kluaynamthai),<br />
                            Sukhumvit Rd., Prakanong Klongtoey,<br />
                            Bangkok 10110 Thailand<br />
                            <br />
                            t.sarawoot@jcm-thai.co.th<br />
                            <br />
                            Tel. +66 2 712 3155-6<br />
                            Fax. +66 2 712 3157
                        </p>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <form class=" mx-xl-5 pt-3">
                        <div class="form-group">
                            <div class="form-row justify-content-center">
                                <div class="col-md">
                                    <input type="text" class="form-control mb-2 max-width-768px btn-outline-dark" id="name" placeholder="Name" />
                                </div>
                                <div class="col-md">
                                    <input type="email" class="form-control mb-2 max-width-768px btn-outline-dark" id="email" placeholder="Email" />
                                </div>
                            </div>
                            <input type="text" class="form-control mb-2 max-width-768px btn-outline-dark" id="subject" placeholder="Subject" />
                            <input type="text" class="form-control mb-2 max-width-768px btn-outline-dark" id="phone" placeholder="Phone" />
                            <input type="text" class="form-control mb-2 max-width-768px btn-outline-dark" id="address" placeholder="Address" />
                            <textarea class="form-control mb-3 max-width-768px btn-outline-dark" id="message" rows="3" placeholder="Message"></textarea>
                            <button type="submit" class="btn-dark w-100">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row p-0 m-0 bg-secondary w-100" style="height:400px">
                <p id="googleMap">JCM-T map</p>
            </div>
        </div>
    </section>
</section>
<!-- Import Page Stylesheet -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.index.css" />

@section scripts{
<script>
    $(document).ready(function () {
        
        //$("#googleMap").click(function (e) {
        //    $("#googleMap").append("<h2>I am a Header2</h2>");
        //});


    });

    // Is this element visible onscreen? 
    //var visible = $("#googleMap").visible(); 
    // Set the visible status into the span. 
    //$(this).find('span').text(visible ? 'Onscreen' : 'Offscreen').toggleClass('visible', visible);
</script>
}


