
.container-header {
    position: relative;
}

.img-header {
    width: 100%;
    vertical-align: middle;
}

.img-rotate-180 {
    transform: rotate(180deg);
}

.text-header {
    font-size: 10vw;
    font-weight: 600;
    text-align: center;
    padding-top: 1.5rem;
    position: absolute;
    width: 100%;
    top: 20%;
    height: 70%;
    opacity: 0.8;
    background-color: black;
    color:white;
}

.hr-1 {
    height: 10px;
    width: 100%;
    /*background-color: #005DA3;*/
}

.hover-shadow {
    transition: 0.1s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 93, 163, 0.5);
}

.card-columns{
    transition:0.9s;
}


#customerList, #teamMember {
    column-count: 4;
}

@media (max-width: 991.98px) {
    .card-columns {
        column-count: 2;
    }
    #customerList, #teamMember {
        column-count: 3;
    }
}


@media (max-width: 767.98px) {
    .card-columns {
        column-count: 1;
    }
    #customerList, #teamMember {
        column-count: 2;
    }
}