body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-jcm-blue {
    /*background-color: #005DA3;*/ /*JCM from .Ai = #005DA3*/
    background-color: #03549d; /* from JCM-HQ: #0c80e9 , #03549d*/
}

.color-jcm-blue {
    /*color: #005DA3;*/ /*JCM from .Ai = #005DA3*/
    color: #03549d; /* from JCM-HQ: #0c80e9 , #03549d*/
}

.bg-jcm-contact {
    background-color: #EAF5F7;
}

.navbar{
    top:0;
    transition:1s;
    z-index:500;
}

.manager-remove{
    display:none;/* order to removed by jcm-t manager*/
}